.practice__page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.practice__title{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: center;
}

.practice__grid__wrapper{
    height: 25rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}
.practice__grid__wrapper::-webkit-scrollbar {
    width: 0.5rem;
}
.practice__grid__inner{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin: 1rem 0;
}